<%= form_for @user do |f| %>

  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :phone, "Phone" %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit 'Sign up', class: 'btn' %></p>
<% end %>
