<%= form_tag search_path, method: :post, class: 'form form-horizontal', id: 'search_form' do -%>

    <div class="input-daterange input-group" id="datepicker">
      <!--<input type="text" class="input-sm form-control" name="search" id="search_start" />-->
      <%= text_field_tag :search_start, params[:search_start], class: 'input-sm form-control', id: 'search_start' %>

      <span class="input-group-addon">to</span>

      <%= text_field_tag :search_end, params[:search_end], class: 'input-sm form-control', id: 'search_end' %>
    </div>

    <br/>
    <div class="checkbox">
      <label for="check_all">
        <input type="checkbox" name="check_all" id="check_all"/>
        <b>Выделить все</b>
      </label>
    </div>
    <% User.not_admin.all.each do |u| %>
        <div class="checkbox">
          <%= label_tag "user_#{u.id}", u.phone do %>
              <%= check_box_tag 'users[]', u.id, params[:users] && params[:users].include?(u.id.to_s), id: "user_#{u.id}" %>
              <%= u.phone  %> <i><%= "(#{u.email}, #{u.name})" %></i>
          <% end %>
        </div>
    <% end %>

    <%= submit_tag 'search', class: 'btn' %>
<% end -%>

<% if @statistic.count > 0 %>
    <%= link_to 'xls', report_path(format: :xlsx, search_start: params[:search_start], search_end: params[:search_end], users: params[:users]), method: :post, class: 'btn' %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <td>number</td>
    <td>date</td>
    <td>count</td>
    <td>duration</td>
    <td>last update</td>
  </tr>
  </thead>
  <tbody>
  <% @statistic.each do |record| %>
      <tr>
        <td><%= record.user.phone %></td>
        <td><%= record.day.strftime('%d.%m.%Y') %></td>
        <td><%= record.count %></td>
        <td><%= record.duration %></td>
        <td><%= record.updated_at.strftime('%d.%m.%Y %H:%M') %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $('.input-daterange').datepicker({
        format: "dd-mm-yyyy",
        minViewMode: 1,
        language: "ru",
        autoclose: true
    });

    $('#check_all').click(function(){
        $('input[name="users[]"]').prop('checked', $(this).prop('checked'));
    });
</script>